.list-form {
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.form-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.list-form input {
    flex: 1 0 65%;
    padding: 0 15px;
}

.list-form input.alert {
    border: 2px solid var(--alert-color);
}

.list-form textarea {
    padding: 10px;
    resize: none;
}

.list-item-wrapper .list-item {
    width: 250px;
    padding: 15px;
    display: flex;
    align-items: center;
}

input,
select {
    background-color: var(--elem-bg-subcolor);
}

.list-form .list-select {
    width: 100%;
    position: relative;
}

.list-form .list-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    color: var(--elem-bg-color);
    transform: rotate(-90deg);
    background-color: transparent;
    transition: .25s all ease;
    pointer-events: none;
}

.list-form .list-select:hover::after {
    filter: saturate(1.9);
    transform: rotate(0deg);
}

.list-form .list-select select {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.list-form button,
.list-item-wrapper button {
    font-weight: 600;
    padding: 15px;
    background-color: var(--text-light-color);
}

.list-form button:hover,
.list-item-wrapper button:hover {
    background-color: var(--text-light-color);
    filter: brightness(.9);
}

.list-items-container {
    width: 100%;
    display: flex;
}


.list-item-wrapper {
    min-width: 70%;
    display: flex;
    flex-direction: column;
}


.list-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
}

@media (max-width: 1500px) {
    .list-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .list-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .list-items {
        grid-template-columns: 1fr;
    }

    .form-wrapper {
        flex-direction: column;
    }

    .list-form input {
        padding: 15px;
    }
}

.list-item-wrapper .btns {
    width: 100%;
    display: flex;
}

.list-item-wrapper .btns>* {
    flex: 1 0 auto;
}

.list-item-wrapper .list-item {
    width: 100%;
    background-color: var(--elem-bg-color);
    color: var(--text-light-color);

}

.list-item-wrapper .list-item span {
    width: 100%;
    word-wrap: break-word;
}

.list-item-wrapper .list-item-title span {
    font-size: 1.1rem;
    font-weight: 500;
}

.list-item-wrapper .list-item-descr span {
    font-style: italic;
}


.list-item-wrapper div.list-item {
    border: 2px solid transparent;
}

.list-item-wrapper div.list-item-title {
    border-bottom: 1px solid var(--bg-main-color);
}

.list-item-wrapper .btn-done {
    color: var(--ok-color);
}

.list-item-wrapper .btn-delete {
    color: var(--alert-color);
}

.list-item.done {
    filter: contrast(.8) brightness(.8);
    text-decoration: line-through;
}

.list-item.in-progress {
    filter: hue-rotate(-10deg);
}

.list-item-title.in-progress span {
    width: 90%;
    text-decoration: underline;
}

.list-item-title.in-progress::before {
    content: '🕒';
    margin-right: 10px;
    text-decoration: none;
}