.app-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 75%;
    padding: 20px 0;
    margin: 20px 0 10px 0;
}

header>h2 {
    width: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    position: relative;
    text-shadow: 2px 3px 12px whitesmoke;
}

