* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  --bg-main-color: #B5BBA8;
  --text-main-color: #2D2E2B;
  --text-light-color: #D3C5A8;
  --elem-bg-color: #926B53;
  --elem-bg-subcolor: #D6D3C2;
  --outline-color: #3D643D;
  --ok-color: #808000;
  --alert-color: #A52A2A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

input, button, select, textarea {
  border: 2px solid transparent;
}

*:focus-visible {
  outline: none;
  border: 2px solid var(--outline-color);
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
  line-height: 1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}